<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Change to RemoteOnly or On once you've fixed any errors -->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" maxRequestLength="4096"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="SmartWinnersApi" value="http://isapi.mekashron.com/SmartWinners/Smartwinners.dll/soap/ISmartwinners" />
    <add key="PlayerApi" value="http://isapi.mekashron.com/SmartWinners/casino365.dll/soap/IPlayerclub365" />
    <add key="BusinessApi" value="http://lease4.mekashron.com:33330/soap/IBusinessAPI" />
    <add key="Pwd" value="123456" />
    <add key="SuccessUrl" value="https://beta5.playerclub365.com/verify-phone" />
    <add key="SignInUrl" value="https://beta5.playerclub365.com/sign-in?page=1" />
    <add key="BaseUrl" value="https://beta5.playerclub365.com/" />

    <!--<add key="SmartWinnersApi" value="http://isapi-sw.profi.chat/Smartwinners.dll/soap/ISmartWinners" />
    <add key="PlayerApi" value="http://isapi-sw.profi.chat/casino365.dll/soap/IPlayerclub365" />
    <add key="BusinessApi" value="http://5.79.126.74:33322/soap/IBusinessAPI" />
    <add key="Pwd" value="smart221134" />
    <add key="SuccessUrl" value="https://www.playerclub365.com/verify-phone" />
    <add key="SignInUrl" value="https://www.playerclub365.com/sign-in?page=1" />
    <add key="BaseUrl" value="https://www.playerclub365.com/" />-->
  </appSettings>
</configuration>
