<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Change to RemoteOnly or On once you've fixed any errors -->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" maxRequestLength="4096"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
